<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appearanceSize</key>
	<string>3</string>
	<key>appearanceStyle</key>
	<string>0</string>
	<key>appearanceTheme</key>
	<string>2</string>
	<key>appsToShow10</key>
	<string>1</string>
	<key>appsToShow3</key>
	<string>0</string>
	<key>appsToShow4</key>
	<string>1</string>
	<key>appsToShow5</key>
	<string>0</string>
	<key>appsToShow6</key>
	<string>1</string>
	<key>arrowKeysEnabled</key>
	<string>false</string>
	<key>cancelShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboADgASABYAEgAKAABAMEABRcdIdHh8gWiRjbGFzc25hbWVYJGNs
		YXNzZXNaU1JTaG9ydGN1dKIfIVhOU09iamVjdAgRGiQpMjdJTFFTWmBte5mg
		q7O7vb/Bw8XHycvN0t3m8fQAAAAAAAABAQAAAAAAAAAiAAAAAAAAAAAAAAAA
		AAAA/Q==
		</data>
		<key>string</key>
		<string>Q</string>
	</dict>
	<key>captureWindowsInBackground</key>
	<string>true</string>
	<key>crashPolicy</key>
	<string>1</string>
	<key>exceptions</key>
	<string>[{"bundleIdentifier":"com.apple.finder","ignore":"0","hide":"2"},{"bundleIdentifier":"com.apple.ScreenSharing","ignore":"2","hide":"0"},{"bundleIdentifier":"com.microsoft.rdc.macos","ignore":"2","hide":"0"},{"bundleIdentifier":"com.teamviewer.TeamViewer","ignore":"2","hide":"0"},{"bundleIdentifier":"org.virtualbox.app.VirtualBoxVM","ignore":"2","hide":"0"},{"bundleIdentifier":"com.parallels.","ignore":"2","hide":"0"},{"bundleIdentifier":"com.citrix.XenAppViewer","ignore":"2","hide":"0"},{"bundleIdentifier":"com.citrix.receiver.icaviewer.mac","ignore":"2","hide":"0"},{"bundleIdentifier":"com.nicesoftware.dcvviewer","ignore":"2","hide":"0"},{"bundleIdentifier":"com.vmware.fusion","ignore":"2","hide":"0"},{"bundleIdentifier":"com.utmapp.UTM","ignore":"2","hide":"0"},{"bundleIdentifier":"com.McAfee.McAfeeSafariHost","ignore":"0","hide":"1"},{"bundleIdentifier":"com.pranapps.Floating","ignore":"0","hide":"1"}]</string>
	<key>fadeOutAnimation</key>
	<string>true</string>
	<key>focusWindowShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboADgASABYAEgAKAABAkEABRDdIdHh8gWiRjbGFzc25hbWVYJGNs
		YXNzZXNaU1JTaG9ydGN1dKIfIVhOU09iamVjdAgRGiQpMjdJTFFTWmBte5mg
		q7O7vb/Bw8XHycvN0t3m8fQAAAAAAAABAQAAAAAAAAAiAAAAAAAAAAAAAAAA
		AAAA/Q==
		</data>
		<key>string</key>
		<string>↩</string>
	</dict>
	<key>hideColoredCircles</key>
	<string>false</string>
	<key>hideShowAppShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRAHEABReNIeHyAhWiRjbGFzc25hbWVY
		JGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkAMgA3
		AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDMAM4A
		0ADVAOAA6QD0APcAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABAA==
		</data>
		<key>string</key>
		<string>X</string>
	</dict>
	<key>hideSpaceNumberLabels</key>
	<string>false</string>
	<key>hideStatusIcons</key>
	<string>false</string>
	<key>hideThumbnails</key>
	<string>true</string>
	<key>holdShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EgAQAADSHR4fIFokY2xhc3NuYW1l
		WCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QACAARABoAJAApADIA
		NwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMAxQDHAMkAzADR
		ANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
		</data>
		<key>string</key>
		<string>⌘</string>
	</dict>
	<key>holdShortcut2</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EgAQAADSHR4fIFokY2xhc3NuYW1l
		WCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QACAARABoAJAApADIA
		NwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMAxQDHAMkAzADR
		ANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
		</data>
		<key>string</key>
		<string>⌘</string>
	</dict>
	<key>holdShortcut3</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwZGhtV
		JG51bGzWDQ4PEBESExQVFBcUXW1vZGlmaWVyRmxhZ3NfEBtjaGFyYWN0ZXJz
		SWdub3JpbmdNb2RpZmllcnNWJGNsYXNzWmNoYXJhY3RlcnNXa2V5Q29kZVd2
		ZXJzaW9ugAOAAIAEgACAAoAAEf//EgAIAADSHB0eH1okY2xhc3NuYW1lWCRj
		bGFzc2VzWlNSU2hvcnRjdXSiHiBYTlNPYmplY3QIERokKTI3SUxRU1lfbHqY
		n6qyury+wMLExsnO097n8vUAAAAAAAABAQAAAAAAAAAhAAAAAAAAAAAAAAAA
		AAAA/g==
		</data>
		<key>string</key>
		<string>⌥</string>
	</dict>
	<key>holdShortcut4</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwZGhtV
		JG51bGzWDQ4PEBESExQVFBcUXW1vZGlmaWVyRmxhZ3NfEBtjaGFyYWN0ZXJz
		SWdub3JpbmdNb2RpZmllcnNWJGNsYXNzWmNoYXJhY3RlcnNXa2V5Q29kZVd2
		ZXJzaW9ugAOAAIAEgACAAoAAEf//EgAYAADSHB0eH1okY2xhc3NuYW1lWCRj
		bGFzc2VzWlNSU2hvcnRjdXSiHiBYTlNPYmplY3QIERokKTI3SUxRU1lfbHqY
		n6qyury+wMLExsnO097n8vUAAAAAAAABAQAAAAAAAAAhAAAAAAAAAAAAAAAA
		AAAA/g==
		</data>
		<key>string</key>
		<string>⌥⌘</string>
	</dict>
	<key>holdShortcut5</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwZGhtV
		JG51bGzWDQ4PEBESExQVFBcUXW1vZGlmaWVyRmxhZ3NfEBtjaGFyYWN0ZXJz
		SWdub3JpbmdNb2RpZmllcnNWJGNsYXNzWmNoYXJhY3RlcnNXa2V5Q29kZVd2
		ZXJzaW9ugAOAAIAEgACAAoAAEf//EgAMAADSHB0eH1okY2xhc3NuYW1lWCRj
		bGFzc2VzWlNSU2hvcnRjdXSiHiBYTlNPYmplY3QIERokKTI3SUxRU1lfbHqY
		n6qyury+wMLExsnO097n8vUAAAAAAAABAQAAAAAAAAAhAAAAAAAAAAAAAAAA
		AAAA/g==
		</data>
		<key>string</key>
		<string>⌃⌥</string>
	</dict>
	<key>holdShortcut6</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwZGhtV
		JG51bGzWDQ4PEBESExQVFBcUXW1vZGlmaWVyRmxhZ3NfEBtjaGFyYWN0ZXJz
		SWdub3JpbmdNb2RpZmllcnNWJGNsYXNzWmNoYXJhY3RlcnNXa2V5Q29kZVd2
		ZXJzaW9ugAOAAIAEgACAAoAAEf//EgAMAADSHB0eH1okY2xhc3NuYW1lWCRj
		bGFzc2VzWlNSU2hvcnRjdXSiHiBYTlNPYmplY3QIERokKTI3SUxRU1lfbHqY
		n6qyury+wMLExsnO097n8vUAAAAAAAABAQAAAAAAAAAhAAAAAAAAAAAAAAAA
		AAAA/g==
		</data>
		<key>string</key>
		<string>⌃⌥</string>
	</dict>
	<key>menubarIcon</key>
	<string>1</string>
	<key>menubarIconShown</key>
	<string>true</string>
	<key>mouseHoverEnabled</key>
	<string>false</string>
	<key>nextWindowGesture</key>
	<string>0</string>
	<key>nextWindowShortcut3</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRAwEABRCdIeHyAhWiRjbGFzc25hbWVY
		JGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkAMgA3
		AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDMAM4A
		0ADVAOAA6QD0APcAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABAA==
		</data>
		<key>string</key>
		<string>⇥</string>
	</dict>
	<key>nextWindowShortcut4</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwZGhsc
		HR5VJG51bGzWDQ4PEBESExQVFhcYXW1vZGlmaWVyRmxhZ3NfEBtjaGFyYWN0
		ZXJzSWdub3JpbmdNb2RpZmllcnNWJGNsYXNzWmNoYXJhY3RlcnNXa2V5Q29k
		ZVd2ZXJzaW9ugASABoAHgAWAA4ACUTEQMhAAYSC5YSC50h8gISJaJGNsYXNz
		bmFtZVgkY2xhc3Nlc1pTUlNob3J0Y3V0oiEjWE5TT2JqZWN0AAgAEQAaACQA
		KQAyADcASQBMAFEAUwBcAGIAbwB9AJsAogCtALUAvQC/AMEAwwDFAMcAyQDL
		AM0AzwDSANUA2gDlAO4A+QD8AAAAAAAAAgEAAAAAAAAAJAAAAAAAAAAAAAAA
		AAAAAQU=
		</data>
		<key>string</key>
		<string>₹</string>
	</dict>
	<key>nextWindowShortcut5</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboADgASABYAEgAKAABAwEABRCdIdHh8gWiRjbGFzc25hbWVYJGNs
		YXNzZXNaU1JTaG9ydGN1dKIfIVhOU09iamVjdAgRGiQpMjdJTFFTWmBte5mg
		q7O7vb/Bw8XHycvN0t3m8fQAAAAAAAABAQAAAAAAAAAiAAAAAAAAAAAAAAAA
		AAAA/Q==
		</data>
		<key>string</key>
		<string>⇥</string>
	</dict>
	<key>nextWindowShortcut6</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUWFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26AA4AFgAaABIACgAAQMhAAYSC5YSC50h4fICFaJGNsYXNzbmFt
		ZVgkY2xhc3Nlc1pTUlNob3J0Y3V0oiAiWE5TT2JqZWN0AAgAEQAaACQAKQAy
		ADcASQBMAFEAUwBbAGEAbgB8AJoAoQCsALQAvAC+AMAAwgDEAMYAyADKAMwA
		zwDSANcA4gDrAPYA+QAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAAAAAAAAEC
		</data>
		<key>string</key>
		<string>₹</string>
	</dict>
	<key>previewFadeInAnimation</key>
	<string>true</string>
	<key>previewFocusedWindow</key>
	<string>false</string>
	<key>previousWindowShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwZGhtV
		JG51bGzWDQ4PEBESExQVFBcUXW1vZGlmaWVyRmxhZ3NfEBtjaGFyYWN0ZXJz
		SWdub3JpbmdNb2RpZmllcnNWJGNsYXNzWmNoYXJhY3RlcnNXa2V5Q29kZVd2
		ZXJzaW9ugAOAAIAEgACAAoAAEf//EgACAADSHB0eH1okY2xhc3NuYW1lWCRj
		bGFzc2VzWlNSU2hvcnRjdXSiHiBYTlNPYmplY3QIERokKTI3SUxRU1lfbHqY
		n6qyury+wMLExsnO097n8vUAAAAAAAABAQAAAAAAAAAhAAAAAAAAAAAAAAAA
		AAAA/g==
		</data>
		<key>string</key>
		<string>⇧</string>
	</dict>
	<key>quitAppShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboADgASABYAEgAKAABACEABRZNIdHh8gWiRjbGFzc25hbWVYJGNs
		YXNzZXNaU1JTaG9ydGN1dKIfIVhOU09iamVjdAgRGiQpMjdJTFFTWmBte5mg
		q7O7vb/Bw8XHycvN0t3m8fQAAAAAAAABAQAAAAAAAAAiAAAAAAAAAAAAAAAA
		AAAA/Q==
		</data>
		<key>string</key>
		<string>D</string>
	</dict>
	<key>screenRecordingPermissionSkipped</key>
	<string>false</string>
	<key>screensToShow10</key>
	<string>1</string>
	<key>screensToShow3</key>
	<string>1</string>
	<key>screensToShow4</key>
	<string>1</string>
	<key>settingsWindowShownOnFirstLaunch</key>
	<string>true</string>
	<key>shortcutCount</key>
	<string>6</string>
	<key>showAppsOrWindows10</key>
	<string>1</string>
	<key>showAppsOrWindows2</key>
	<string>1</string>
	<key>showAppsOrWindows3</key>
	<string>1</string>
	<key>showAppsOrWindows4</key>
	<string>1</string>
	<key>showAppsOrWindows8</key>
	<string>1</string>
	<key>showAppsOrWindows9</key>
	<string>1</string>
	<key>showHiddenWindows</key>
	<string>1</string>
	<key>showHiddenWindows2</key>
	<string>1</string>
	<key>showHiddenWindows3</key>
	<string>1</string>
	<key>showHiddenWindows4</key>
	<string>1</string>
	<key>showHiddenWindows5</key>
	<string>1</string>
	<key>showHiddenWindows6</key>
	<string>1</string>
	<key>showOnScreen</key>
	<string>1</string>
	<key>showTabsAsWindows</key>
	<string>1</string>
	<key>showTabsAsWindows10</key>
	<string>1</string>
	<key>showTabsAsWindows2</key>
	<string>1</string>
	<key>showTabsAsWindows3</key>
	<string>1</string>
	<key>showTabsAsWindows4</key>
	<string>1</string>
	<key>showTabsAsWindows5</key>
	<string>1</string>
	<key>showTabsAsWindows6</key>
	<string>1</string>
	<key>showTabsAsWindows8</key>
	<string>1</string>
	<key>showTabsAsWindows9</key>
	<string>1</string>
	<key>showTitles</key>
	<string>0</string>
	<key>showWindowlessApps</key>
	<integer>1</integer>
	<key>showWindowlessApps10</key>
	<string>1</string>
	<key>showWindowlessApps2</key>
	<integer>1</integer>
	<key>showWindowlessApps3</key>
	<integer>1</integer>
	<key>showWindowlessApps4</key>
	<string>1</string>
	<key>showWindowlessApps5</key>
	<string>1</string>
	<key>showWindowlessApps6</key>
	<string>1</string>
	<key>spacesToShow10</key>
	<string>1</string>
	<key>spacesToShow3</key>
	<string>1</string>
	<key>spacesToShow4</key>
	<string>1</string>
	<key>spacesToShow5</key>
	<string>1</string>
	<key>spacesToShow6</key>
	<string>1</string>
	<key>theme</key>
	<string>0</string>
	<key>titleTruncation</key>
	<string>1</string>
	<key>updatePolicy</key>
	<string>2</string>
	<key>vimKeysEnabled</key>
	<string>false</string>
	<key>windowDisplayDelay</key>
	<string>100</string>
</dict>
</plist>
